.bg-color{
    overflow-y: hidden;

}


.logo-login{
    margin-bottom: 6vh;
    margin-top: 5vh;
    height: 90px;

}

.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 90%;
}


.loginBtn{
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}
